body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.nav-item {
    margin-left: 1rem;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.content {
    text-align: center;
}

.video-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.text {
    z-index: 1;
    font-size: 2rem;
    font-weight: 500;
    color: #070F2B;
    background-color: rgba(253, 253, 253, 0.5);
    display: none;
    opacity: 0;
    animation: fadeIn 2s forwards;
    padding: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Parallax effect for the sections */
.video-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    padding: 1rem;
    border-radius: 10%;
    font-size: 1rem;
    background-color: #070F2B;
    color: #fff;
    font-weight: 300;
}

.sideText{
    padding: 1rem;
    background-color: rgba(253, 253, 253, 0.5);
    font-size: 1rem;
    font-weight: 300;
}

.aboutUs{
    padding: 1rem;
    background: linear-gradient(to bottom, #134936, #436850);
    width: 100vw;
    color: #fff;
}

.leftSide {
    font-size: 2rem;
}

.rightSide {
    margin: 1rem;
}

@media screen and (min-width : 420px) {
    .text {
        font-size: 2rem;
        margin: 1rem ;
    }
    .sideText {
        padding: 2rem;
        font-size: 1.5rem;
        
    }
}

@media screen and (min-width : 700px) {
    .sideText {
        padding: 2rem;
        width: 50vw;
        font-size: 1.5rem;
        margin-left: 10rem;
    }
}
@media screen and (min-width : 1000px) {
    .sideText {
        padding: 2rem;
        margin-right: 50rem;
        font-size: 1.5rem;
        margin-left: 10rem;
    }
    .aboutUs{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .leftSide {
        margin: 1rem;
        font-size: 4rem;
        width: 30%;
    }
    
    .rightSide {
        margin: 1rem;
        font-size: 1rem;
        width: 70%;
    }
}
